* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  background: white;
  font-family: 'Lexend Deca', sans-serif;
  color: #3a3a3a;
  text-align: center;
}
a {
  text-decoration: none;
}
.title-box {
  max-width: 500px;
  width: 100%;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
}
.subtitle {
  font-size: 1.4em;
}
.small-subtitle {
  margin-bottom: 20px;
  opacity: 0.7;
}
.small-subtitle a {
  color: inherit;
  text-decoration: underline;
}

.info-box {
  max-width: 1400px;
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  display: block;
}
.info-box img {
  max-width: 100%;
  padding: 15px;
}
.button {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 1000px;
  color: white;
  max-width: 200px;
  margin: auto;
}
#lumi-logo-canvas {
  width: auto;
  max-width: 100%;
  height: auto;
}
.footer {
  margin: 50px auto;
  font-size: 0.9em;
  color: #999;
}