body {
  margin: 0;
  padding: 0;
  background-color: white;
  background: white;
  font-family: 'Lexend Deca', sans-serif;
  color: #3a3a3a;
  text-align: center;
}
.central-box {
  height: 220px;
  width: 400px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.subtitle {
  font-size: 1.4em;
  color: #6c4396;
}
.small-subtitle {
  color: #9779b5;
}
.small-subtitle a {
  color: #9779b5;
}